.header {
    position: relative;
    height: 100vh;
    display: flex;

    &__back {
        background-image: url(./images/dev-img/header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;


        &_active {
            opacity: 0.5;
            transition: all 1s 1s;
        }
    }

    &__block {

        text-align: center;
        margin: auto;
        color: white;
        opacity: 0;

        &_active {
            opacity: 1;
            transition: all 1s 1s;
        }

    }

    &__block-heading {
        margin: 0;
        font-size: 90px;


    }

    &__desc {
        font-size: 20px;
        display: flex;
        justify-content: center;

        :first-child {
            border-right: 2px solid white;

            padding-right: 20px;
            margin: 0 20px 0 0 ;
        }

        :last-child {
            text-decoration: none;
            color: white;

            &:hover {

                text-decoration: underline;

            }
        }

    }
}