@import 'elements/content.scss';
@import 'elements/header.scss';
@import 'elements/nav-menu.scss';
/*sass --watch src/style/index.scss:src/index.css*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;200&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(71, 71, 71);
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.up-scroll-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(71, 71, 71);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transform: rotate(180deg);
    background-image: url(./images/dev-img/arrow-down-icon.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;

    &_active {}
}